@model IEnumerable<HMS.Models.In_out_notes>

@{
    ViewBag.Title = "In_out_note";
    Layout = "~/Views/Shared/_Staff_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>in_out_note</title>
</head>
<body>
    <div>
        <center>
            <center>
                <h3>IN/OUT Note</h3>
            </center>
            <form action="/Staff/in_out_note" method="post">
                <span class="text-info">@TempData["msg"]</span>
                <div class="container">
                    <label for="Date"> <b>Date and Time</b> </label>
                    <input type="text" placeholder="Date Time" name="DateAndTime" readonly value="@DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")">
                    <br /> <br />
                    <label for="memid"><b>Member ID</b></label>
                    <input type="number" placeholder="Enter Member ID" name="Member_id">
                    @Html.ValidationMessage("Member_id")
                    <br />
                    <p>Select Status:</p>
                    <input type="radio" name="status" value="IN">
                    <label for="in">In</label><br>
                    <input type="radio" name="status" value="OUT">
                    <label for="out">Out</label><br>
                    @Html.ValidationMessage("status")
                    <br />
                    @*<label for="Status">Status:</label>

        <select name="status">
            <option value="IN">IN</option>
            <option value="OUT">OUT</option>
        </select>*@

                    <button type="submit">Submit</button>

                </div>
            </form>
        </center>


        <br />
        <br />
        <br />
        <br />

        <table>
            <tr>
                <th>
                    Date and Time
                </th>
                <th>
                    Member Id
                </th>
                <th>
                    Status
                </th>
                <th>
                    EDIT
                </th>
                <th>
                    DELETE
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DateAndTime
                    </td>
                    <td>
                        @item.Member_id
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        <a href="/Staff/In_out_note_edit/@item.Id">Edit</a>
                    </td>
                    <td>
                        <a href="/Staff/In_out_note_delete/@item.Id">Delete</a>
                    </td>

                </tr>
            }

        </table>
    </div>
</body>
</html>
